* {
    font-size: 20px;
    text-decoration: none;
}

html {
    background: url('https://krot.info/uploads/posts/2021-02/1614131075_28-p-zadnii-fon-v-minimalizme-33.jpg') repeat-x #ddeea5 center top;
}

#header{
    color: #00ff15;
}

h1{color:aqua;}

h3.style{
    color: yellow;
}

p.style{background-color: blue;}

p i {
    color: blueviolet;
}

p.mysalu{
    font-size: 70px;
    font-weight: bold;
    color: brown;
}

p#example:first-letter{
    color: red;
}

p:hover{
    background-color: aqua;
}


.href{
    color: #5f1a1a;
}

.href:hover{
    color: gold;
}

.href:active{
    color: green;
}

.href:visited{
    color: seagreen;
}

p{
    text-indent: 1.1em;
}

#debatestyles{
    font-size: 15px;
}

#debatestyles:hover{
    background-color: #ddeea5;
}

#debatestyles{
    font-size: 1.1em;
    font-weight: normal;
    font-family: Comic Sans MS, sans-serif;
    text-align: justify;
    text-transform: capitalize;
    letter-spacing: 10px; /*letter-spacing*/
    line-height: 220%;
}

#debatestyles span {text-transform: none}

#block{
    border: 2px dotted silver;
    border-bottom: 3px dashed red;
    background-color: #00ff15;
    margin: 19px 33px 16px 60px;
    width: 500px;
    float: right;
    position: relative;
    z-index: -10;
    padding: 10px;
    border-radius: 15px;
    transform: rotate(360deg);
}

header {
    width: calc( 100% - 20px );
    height: 50px;
    background-color: #fff;
    border-bottom: 2px solid silver;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
    float: left;
    font-family: Comic Sans MS;
}

article, aside {
    background-color: #fafafa;
    min-height: 400px;
    border-radius: 5px;
    border: 1px solid silver;
    box-sizing: border-box;
    margin-top: 20px;
    overflow: auto;
    float: left;
    padding: 10px;
}

article {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}

aside {
    width: 25%;
}

aside ol {
    list-style-position: inside;
    list-style-type: lower-alpha;
    list-style-image: url();
}

footer {
    width: calc( 100% - 20px );
    height: 50px;
    margin-top: 20px;
    background-color: #fff;
    border-top: 2px solid silver;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
    float: left;
    font-family: Comic Sans MS;
    text-align: justify;
}

.spanBlock {
    display: block;
    height: 50px;
    width: 50px;
    border: 1px solid red;
    overflow: auto;
}